@media (max-width: 1170px) {
    header {
        .header-navigation {

        
            a {
                padding: 6px 11px;
            }
        }

    }
}

@media (max-width: 1100px) {
    header {
        .header-logo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        .header-navigation {
            width: 100%;
            justify-content: center;
        }
    }
}
@media (max-width: 767px) {
    .header-navigation {
        ul {
            flex-wrap: wrap;

            li:first-child {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            li:not(:first-child) {
                width: 50%;
            }
            li:nth-child(odd) {
                text-align: end;
            }
            li:nth-last-child(n+3):not(:first-child){
                margin-bottom: 10px;
            }
        }
    }
}